Host {hostname} {aliases}
    HostName {hostname}
    StrictHostKeyChecking yes
    User root
    IdentityFile {ssh_key}
    IdentityFile {ssh_bootstrap_key}
    IdentitiesOnly yes
    UserKnownHostsFile {supervisor_known_hosts} {known_hosts}
